#registration input, 
#registration select {
    width:100%;
    padding:12px;
    margin:8px 0 20px;
    border-radius:6px;
    border:1px solid #ccc;
    font-size:14px;
}

#registration button {
    width:100%;
    padding:14px;
    background:#1e3a8a;
    color:white;
    border:none;
    border-radius:6px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}

#registration button:hover {
    background:#142766;
}