 body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
}

header {
    background-color: #1e3a8a;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

header p {
    font-size: 18px;
    margin-top: 10px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #facc15;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}


section {
    padding: 50px 20px;
    text-align: center;
}

.section-title {
    font-size: 28px;
    margin-bottom: 20px;
    color: #1e3a8a;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.feature-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.contact {
    background-color: #1e3a8a;
    color: white;
}

footer {
    background: #111827;
    color: white;
    text-align: center;
    padding: 15px;
}